<div class="page-title">
<h1>Your Dashboard</h1>
</div>
<ol class="post-list">
  {{#each posts as |post|}}
  <li>
    {{> post-info post }}
  </li>
  {{/each}}
</ol>
<a href="">
  <div class="link">
    <span class="title-span">This is my title</span><span class="date">02/08/2022</span>
  </div>
</a>
{{> create-post}}
{{> edit-post}}
<div class="new-post">
  <button type="button" class="post-btn">+ New Post</button>
</div>