<div class="page-title">
  <h1>The Tech Blog</h1>
</div>
<div class="comments">
  {{#each this}}
  <article class="comment">
    <div class="title">
      <h2></h2>
    </div>
    <div class="content">
      <p>{{comment_text}}</p>
      <p>- {{user.username}} on {{format_date created_at}}</p> 
    </div>
  </article>
  {{/each}}
</div>
<form class="comment">
  <div class="title">
    <h2></h2>
  </div>
  <div class="content">
    <label for="comment">Comment:</label>
    <textarea name="comment-body" id="comment-text"></textarea>
    <button type="submit">Submit</button>
  </div>
</form>

<script src="/javascript/comment.js"></script>